.portal-homepage {
    //padding: 0px 43px;
    max-width: 1280px;
    //width: 100vw;
    margin: auto;
}
.portal-homepage .wrap,
.portal-homepage .header,
.portal-homepage .content {
    //width: 1280px;
    width: 100%;
}
.portal-homepage{
    .wrap{
        .content{
            display: flex;
            .content__left{
                //width: 816px;
               width: 63.75%;
                .announcement{
                    width: 100%;
                }
            }
            .content__right{
                //width: 416px;
                margin-left: 49px;
                width: 32.5%;
            }
        }
    }
}
@media only screen  and (max-width:819px){
    .portal-homepage{
        .wrap{
            .content{
                flex-wrap: wrap;
                .content__left{
                    width: 100%;
                }
                .content__right{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }

}
@media only screen and  (max-width:1280px){
    .portal-homepage{
       margin:20px;
    }
}