:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --fefefe-color:#fefefe;
}
*{
    box-sizing: inherit;
}
body{
    background-image: linear-gradient(to right,#7c7979 , #c9c2c2);
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_full-width{
    width: 100%;
}
.grid_row{
    display: flex;
    flex-wrap: wrap;
}